<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="Cache-Control" content="no-store" />
<link rel="shortcut icon" href="favicon.ico" />
<title>Funcionários - Início</title>
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="resources/css/bootstrap-vue.css">
</head>

<body>
	<div id="inicio" class="container">
		<h3>Funcionários</h3>
		<form>
			<div class="form-row">
				<div class="form-group col-md-12">
					<label for="nome">Nome</label> <input type="text" id="nome" class="form-control" placeholder="Nome completo" v-model="funcionario.nome">
				</div>
				<div class="form-group col-md-2">
					<label for="salario">Salário</label> <input type="text" id="salario" class="form-control" placeholder="Salário" v-model="funcionario.salario">
				</div>
				<div class="form-group col-md-2">
					<label for="idade">Idade</label> <input type="text" id="idade" class="form-control" placeholder="Idade" v-model="funcionario.idade">
				</div>
				<div class="form-group col-md-2">
					<label for="setor">Setor</label><select class="form-control" @change="switchView($event, $event.target.selectedIndex)">
						<option v-for="(setor, index) in listaSetor">{{
							setor.nome }}</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="email">E-mail</label> <input type="email" class="form-control" placeholder="E-mail" v-model="funcionario.email">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-12">
					<button class="waves-effect waves-ligth btn-small" @click="salvar()">Salvar</button>
				</div>
			</div>
		</form>
		<div class="container-fluid table col-md-12">
			<table class="table">
				<tr>
					<th>Nome</th>
					<th>Setor</th>
					<th>Salário</th>
					<th>Email</th>
					<th>Idade</th>
					<th></th>
					<th></th>
				</tr>
				<tbody id="event-table">
					<tr v-for="funcionario in lista">
						<td>{{ funcionario.nome }}</td>
						<td>{{ funcionario.setor.nome }}</td>
						<td>{{ funcionario.salario }}</td>
						<td>{{ funcionario.email }}</td>
						<td>{{ funcionario.idade }}</td>
						<td><button class="btn-primary btn-sm" @click="atualizar(funcionario.setor.id,funcionario)">&#9998;</button>
							<button class="btn btn-danger btn-sm" @click="remover(funcionario.id)">Apagar</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>